/*
CSS for the CS142 project #4 Problem #2 common component

Since CSS uses a global name space for classes we should use names starting with
cs142-common- here.
*/
.cs142-common-header {
  height:25px;
  background:#850000;
  color:white;
  font-family: Tahoma;
  font-size: 15px;
  font-style: italic;
  margin-left: 3px;
  margin-bottom: 10px;
  padding-left: 3px;
  box-shadow:5px 5px gold ;

}


