/*
CSS for the CS142 project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
cs142-main- here.
*/
.floatLeft {
  float:left;
  padding: 1%;
}
.floatRight {
  float:right;
  padding: 1%;
}
.sample {
    display: flex;
    justify-content: space-between;
  }
